<!DOCTYPE html>
<html oncontextmenu="return false">
<head>
<title>NewsFeed</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/font.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/li-scroller.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/theme.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.min.js"></script>
<script src="../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Breaking News</span>
          <ul id="ticker01" class="news_sticker">
            <%const newList6 = [...newList]; %>
                  <% newList6.reverse().slice(0,8).map(i =>{%>
                    <li><a href="../../pages/single_page/<%=i._id%>"><%=i.title%></a></li>
                    <%}).join("")%>
            
          </ul>
         
        </div>
      </div>
    </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="../../home" class="logo"><img src="../../images/logo.jpg" alt=""></a></div>
          <div class="add_banner"><a href="#"><img src="../../images/728x90.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav" id="van">
          <%const newList5 = [...newList]; %>
                  <% newList5.reverse().slice(0,8).map(i =>{%>
                    <li><a href="../../pages/single_page/<%=i._id%>"><%=i.title%></a></li>
                    <%}).join("")%>
        </ul>
      </div>
    </nav>
  </section>
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="../home">Home</a></li>
              <li><a href="#">Technology</a></li>
              <li class="active">Mobile</li>
            </ol>
            <h1 id="hop">  
              <%  const Values= []; %>
              <%  newList.map(i =>{ %>
                <%   if(i._id.toString() == page.split('/')[3].toString()){ %>
                  <%     Values.push(i); %>
                  <%   } %>
                <% }) %>
              <% Values.map(i => {%>
                <%=i.title %>
              <%}) %>
            </h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i><span id="aop">
              <% Values.map(i => {%>
                <%=i.author %>
              <%}) %>
            </span></a> <a href="#"><i class="fa fa-tags"></i><span id="cateop">
              <% Values.map(i => {%>
                <%=i.category %>
              <%}) %>
            </span></a> </div>
            <div class="single_page_content" id="mainpart"> 
              <% Values.map(i => {%>
                <img class="img-center" src="../../uploads/<%=i.url%>" />
                <p id="cop"><%=i.description %></p>   
              <%}) %>
              
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.googleplus.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
       
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>ताज़ा खबर</span></h2>
            <ul class="spost_nav" id="fresh">
              <%const newList4 = [...newList]; %>
              <% newList4.reverse().slice(0,4).map(i =>{%>
                <li>
                  <div class="media wow fadeInDown"> <a href="../../pages/single_page/<%=i._id%>" class="media-left"> <img alt="" src="../../uploads/<%=i.url%>"> </a>
                    <div class="media-body"> <a href="../../pages/single_page/<%=i._id%>" class="catg_title"><%=i.title%></a> </div>
                  </div>
                </li>
                <%}).join("")%>
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
             
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                 <ul id="cateo">
                  <%const newList3 = [...newList]; %>
                  <% newList3.reverse().slice(0,7).map(i =>{%>
                    <%if(i.category.length === 1){%>
                      <li class="cat-item"><a href="#"><%= i.category %></a></li>
                    <%}%>
                    <%}).join("")%>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>विज्ञापन</span></h2>
            <a class="sideAdd" href="#"><img src="../images/ad1.jpeg" alt=""></a> </div>
          
        </aside>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Social Media</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav" id="tags">
              <%const newList2 = [...newList]; %>
              <% newList2.reverse().slice(0,7).map(i =>{%>
                <li><a href="#"><%=i.category%></a></li>
                <%}).join("")%>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
          </div>
        </div>
      </div>
    </div>
   <div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2021 <a href="../home">NewsFeed</a> Powered by <a href="http://wesigntechnologies.in/"> Wesign Technologies Pvt. Ltd.</a></p>
    </div>
  </footer>
</div>
<script src="../../assets/js/jquery.min.js"></script> 
<script src="../../assets/js/wow.min.js"></script> 
<script src="../../assets/js/bootstrap.min.js"></script> 
<script src="../../assets/js/slick.min.js"></script> 
<script src="../../assets/js/jquery.li-scroller.1.0.js"></script> 
<script src="../../assets/js/jquery.newsTicker.min.js"></script> 
<script src="../../assets/js/jquery.fancybox.pack.js"></script> 
<script src="../../assets/js/custom.js"></script>
<script>
      // const EleId = window.location.href.split('/')[5];
      // const Value = [];
  // const tags = [{title:"देश"}, {title:"विदेश"},{title:"विदेश"},{title:"विदेश"},{title:"विदेश"}];
  // document.getElementById("tags").innerHTML = tags.map(i =>` <li><a href="#">${i.title}</a></li>`).join("")

  const category = [{title:"देश",url:"../pages/desh"},{title:"विदेश",url:"../pages/videsh"},{title:"दुर्ग-भिलाई",url:"../pages/durg-bhilai"},{title:"जॉब-कार्रिएर",url:"../pages/job-career"},{title:"छत्तीसगढ़",url:"../pages/chhattisgarh"}];
  document.getElementById("cateo").innerHTML = category.map(i =>` <li class="cat-item"><a href="../../pages/${i.url}">${i.title}</a></li>`).join("")
  const tags = [{title:"देश",url:"../pages/desh"},{title:"विदेश",url:"../pages/videsh"},{title:"छत्तीसगढ़",url:"../pages/chhattisgarh"},{title:"फैशन",url:"../pages/fashion"},{title:"राजनीती",url:"../pages/rajniti"},{title:"खेल",url:"../pages/khel"},{title:"दुर्ग-भिलाई",url:"../pages/durg-bhilai"},{title:"ओपिनियन",url:"../pages/opinion"}];
  document.getElementById("tags").innerHTML = tags.map(i => `<li><a href="../../pages/${i.url}">${i.title}</a></li>`).join("");
  // const FreshNews = [{url:"https://bit.ly/3ytYOcw", title:"Title 01"},{url:"https://bit.ly/3ytYOcw", title:"Title 02"},{url:"https://bit.ly/3ytYOcw", title:"Title 03"},{url:"https://bit.ly/3ytYOcw", title:"Title 04"}]
  // document.getElementById("fresh").innerHTML = FreshNews.map(i =>` <li>
  //               <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="${i.url}"> </a>
  //                 <div class="media-body"> <a href="single_page.html" class="catg_title">${i.title}</a> </div>
  //               </div>
  //             </li>`).join("")
  // console.log(window.location.href.split('/')[5] );
   
              const li1 = document.createElement("li");
              const li2 = document.createElement("li");
              li1.className="active";
              li1.innerHTML = `<a href="/home"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a>`;
              li2.innerHTML = `<a href="/pages/contact">संपर्क</a>`;
              const newChild = document.getElementById("van");
              
              const Ele = [{title:"देश",url:"../../pages/desh"},{title:"सेल",url:"../../pages/sale"},{title:"दुर्ग-भिलाई",url:"../../pages/durg-bhilai"},{title:"छत्तीसगढ़",url:"../../pages/chhattisgarh"},{title:"जॉब-कार्रिएर",url:"../../pages/job-career"},{title:"विदेश",url:"../../pages/videsh"},{title:"राजनीति",url:"../../pages/rajniti"},{title:"इतिहास",url:"../../pages/itihas"},{title:"फैशन",url:"../../pages/fashion"},{title:"धर्म-संस्कृती",url:"../../pages/dharm-sanskriti"},{title:"पक्वान",url:"../../pages/pakvan"},{title:"विचार",url:"../../pages/opinion"},{title:"खेल",url:"../../pages/khel"}]
            newChild.innerHTML = Ele.map(i =>` <li><a href="${i.url}">${i.title}</a></li>`).join("")
            // const Ele = [{title:"Title 01"},{title:"Title 03"},{title:"Title 04"},{title:"Title 05"},{title:"Title 06"},{title:"Title 07"},{title:"Title 08"}]
            // newChild.innerHTML = Ele.map(i =>` <li><a href="#">${i.title}</a></li>`).join("")
            newChild.appendChild(li2);
            newChild.prepend(li1);
            // const Latest = [{title:"Title 01"},{title:"Title 02"},{title:"Title 03"},{title:"Title 04"}];
            // document.getElementById("ticker01").innerHTML = Latest.map(i => `<li><a href="#">${i.title}</a></li>`).join("");
            
            //  console.log(Value);
             
            // const valueofPost = [{heading:"Heading",content:"Content",url:"shorturl.at/dfTU9",author:"Author",category:"Category01"}]
            // document.getElementById("hop").innerHTML = valueofPost.slice(0,1).map(i => `${i.heading}`);
            // document.getElementById("aop").innerHTML = valueofPost.slice(0,1).map(i => `${i.author}`);
            // document.getElementById("cop").innerHTML = valueofPost.slice(0,1).map(i => `${i.content}`);
            // const img = document.createElement("img");
            // img.src = "../images/single_post_img.jpg";
            // img.className="img-center";
            // document.getElementById("mainpart").prepend(img);
          


</script>

</body>
</html>